* {
  margin: 0;
  padding: 0;
}
.navbar {
  height: fit-content;
  width: 50%;
  margin: 0 auto;
  background-color: rgb(122, 214, 234);
}
.nav-items {
  display: flex;
  justify-content: space-around;
}
.nav-item {
  color: pink;
  font-size: 20px;
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  padding:25px;
}
